<div class="container mt-4">
    <h2 class="text-center">Create Order</h2>
    <div>
        <div *ngFor="let item of newOrder.orderItems; let i = index">
            <div style="display: flex; align-items: center;">
                <h5>productId: </h5>
                <select 
                    [(ngModel)]="item.productId" 
                    class="form-control" 
                    required
                    id="select{{item.id}}"
                    [disabled]="!isProductAvailableFromList(item.productId)"
                    style="margin-left: 10px;">
                    <option *ngFor="let product of availableProducts" [value]="product.id"
                    [disabled]="!isProductAvailableFromList(product.id)"
                    >
                        {{ product.name }}
                    </option>
                </select>
            </div>

            <div style="display: flex; align-items: center;">
                <h5>quantity: </h5>
                <input 
                [disabled]="!isProductAvailableFromList(item.productId)"
                [(ngModel)]="item.quantity"
                placeholder="quantity"
                class="form-control"
                required
                />
            </div>

            <button [disabled]="!isProductAvailableFromList(item.productId)"
            (click)="addQuantityItem(i)"
            class="btn btn-success">+ quantity</button>
            <button [disabled]="!isProductAvailable(item.productId)"
            (click)="minusQuantityItem(i)"
            class="btn btn-success">- quantity</button>
            <button *ngIf="newOrder.orderItems.length > 1" 
                (click)="newOrder.orderItems.splice(i, 1)"
                class="btn btn-danger">
                Remove Product
            </button>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; gap: 10px;">
            <button id="btnAddItemInOrder" (click)="addItemInOrder()" class="btn btn-primary">add Item</button>
        </div>
        <div id="container" style="display: flex; gap: 10px;">
            <button id="btnClear" (click)="resetOrder()" class="btn btn-primary">Clear</button>
            <button id="btnCreate" (click)="createOrder()" class="btn btn-primary">Create Order</button>
        </div>
    </div>
</div>


<h2 class="mt-4 text-center">Orders</h2>
<div class="polls-list">
    <div *ngFor="let order of orders" class="border rounded p3 mb-3">
        <h3>username: {{order.username}}</h3>
        <h3>isPaid: {{order.isPaid}}</h3>
        <div class="option-list">
            <div *ngFor="let item of order.orderItems; let i = index">
                <h4>- product: {{getProductNameById(item.productId)}}</h4>
                <h4>  count: {{item.quantity}}</h4>
            </div>
            <button (click)="removeOrder(order.id)" class="btn btn-danger">Remove Order</button>
            <button *ngIf="order.isPaid == false" id="btnPay{{order.id}}" (click)="payOrder(order.id)" class="btn btn-success">Pay Order</button>
            <button *ngIf="order.isPaid == false" (click)="prepareBeforeUpdate(order)" class="btn btn-success">update product</button>
        </div>
    </div>
</div>
