<div class="container mt-4">
    <h2 class="text-center">Create Product</h2>
    <div class="mb-3">
        <select 
            [(ngModel)]="newProduct.categoryId" 
            class="form-control" 
            required
            [disabled]="!isAvailableCategory(newProduct.categoryId)"
            style="margin-left: 10px;">
            <option value="" disabled selected hidden>enter</option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </option>
        </select>
        <input 
            [(ngModel)]="newProduct.name"
            placeholder="Product name"
            class="form-control"
            required
        />
        <input 
            [(ngModel)]="newProduct.price"
            placeholder="Product price"
            class="form-control"
            required
        />
        <input 
            [(ngModel)]="newProduct.quantity"
            placeholder="Product quantity"
            class="form-control"
            required
        />
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; gap: 10px;">
            <button id="btnCreate" (click)="createProduct()" class="btn btn-primary">Create Product</button>
        </div>
        <div id="container" style="display: flex; gap: 10px;">
            <button id="btnClear" (click)="resetProduct()" class="btn btn-primary">Clear</button>
        </div>
    </div>

</div>

<h2 class="mt-4 text-center">Available Proucts</h2>
<div>
    <div *ngFor="let product of products" class="border rounded p3 mb-3">
        <div class="option-list"> 
            <h3>categoryId: {{product.categoryId}}</h3>
            <h3>name: {{product.name}}</h3>
            <h3>price: {{product.price}}</h3>
            <h3>quantity: {{product.quantity}}</h3>
            <h3>available: {{product.isAvailable}}</h3>
            <button (click)="removeProduct(product.id)" class="btn btn-danger">Remove product</button>
            <button *ngIf="product.isAvailable" (click)="prepareBeforeUpdate(product)" class="btn btn-success">update product</button>
        </div>
    </div>
</div>
