<div class="container mt-4" id="container">
    <h2 class="text-center">Register</h2>
    <div class="mb-3">
        <input 
            [(ngModel)]="newUser.username"
            placeholder="username"
            class="form-control"
            required
        />
        <input 
            [(ngModel)]="newUser.password"
            placeholder="password"
            class="form-control"
            required
        />
        <input 
            [(ngModel)]="newUser.role"
            placeholder="role"
            class="form-control"
            required
        />
    </div>
<button id="btnRegister" (click)="register()" class="btn btn-primary">register</button>
</div>
